<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restraunt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <style>
        .carousel-item{height: 700px;}
    </style>  
   </head>
   <body class="body-index">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid px-5">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbarToggler" aria-controls="myNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="myNavbarToggler">
                <a class="navbar-brand" href="/">
                  ABC
                </a>
                <ul class="nav nav-underline">
                  <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/menu">MENU</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/locations">LOCATIONS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">SIGNUP</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/orderonline">ORDER ONLINE</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/11.jpg" class="d-block w-100" alt="Watch1">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Luxury Collection</h5>
                    <p>15% off on your first order</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="images/card3.jpg" class="d-block w-100" alt="Watch2">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Budget Collection</h5>
                    <p>25% off on your first order</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="images/3.jpg" class="d-block w-100" alt="Watch3">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Premium Collection</h5>
                    <p>45% off on your first order</p>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
      </header>
      <div class="content">
         <h1 class="content-head">
          MENU
         </h1>
        <h2 class="content-wrap">
            What's your favorite dish today
        </h2>
        <ul class="navbar nav-underline">
          <li class="nav-item">
            <a class="nav-link" href="/menu">MENU</a>
          </li>
        </ul>
      </div>
      <div class="template-container">
        <div class="card mb-3" style="max-width:100%;background-color:transparent;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="images/card0.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width:100%;background-color:transparent;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="images/card1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="about">
          <h1 class="about-title">About</h1>
          <p class="about-para">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis laboriosam explicabo omnis. Eius, nulla, labore ab qui nam aperiam, deleniti ducimus earum dolorem saepe quisquam blanditiis voluptate debitis aspernatur necessitatibus!
          </p>
          <p class="about-para">
             <address class="about-para">
               plot no :23/560 , t.nagar , chennai-600037 .
             </address>   
          </p>
          <p class="about-para">
            contact no : 1234567890
          </p>
      </div>
      <footer class="bg-body-tertiary text-center" style="background-color: transparentS;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5898;"
              href="https://www.facebook.com/"
              role="button"
              ><i class="fa fa-facebook-f"></i>
            </a>
             <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/"
              role="button"
              ><i class="fa fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="https://www.google.com"
              role="button"
              ><i class="fa fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/"
              role="button"
              ><i class="fa fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://linkedin.com/in/"
              role="button"
              ><i class="fa fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/"
              role="button"
              ><i class="fa fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color:transparent;">
          © 2024 Copyright:
          <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
       </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>
</html>