<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/style.css" type="text/css">
        
<body class="location">
       <h1 class="<location-h">
        LOCATION
       </h1>
       <p class="description">
              1/23,kamarajar road ,chennai -600023
              <br/>
              <p class="description-1">
              <i>
               THANKS FOR COMING       
              </i>
              <br/>
              
       </p>
       </p>
</body>

