<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/style.css" type="text/css">

<body class="body-login">
 <section class="login">
   <h1 class="login-heading">
      SIGN UP
   </h1>
   <div class="input-group">
     <span class="input-group-text">First name :</span>
     <br/>
     <input type="text" aria-label="First name" class="form-control" />
    </div>
    <div class="input-group">
     <span class="input-group-text">Last  name :</span>
     <br/>
     <input type="text" aria-label="Last name" class="form-control" />
   </div>
   <div class="form-outline">
     <label class="form-label" for="typeEmail"> Email id :</label>
     <br/>
     <input type="email" id="typeEmail" class="form-control" />
   </div>
   <div class="form-outline">
     <label class="form-label" for="typePassword"> Password :</label>
     <br/>
     <input type="password" id="typePassword" class="form-control" />   
   </div>
    <a href="/" class="login-btn">
     <button type="button" class="btn-login btn-outline-light">SUBMIT</button>
    </a>
 </section>
</body>