<link rel="stylesheet" href="/styles/style.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="online">
<h1 class="place">
    DETAILS
</h1>

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title-contact">Special title treatment</h5>
      <p class="card-text-contact">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/login" class="card-btn">
      <button type="button" class="btn btn-outline-light">Light</button>
      </a>
    </div>
    <div class="card-footer text-body-primary">
      copyright @2024
    </div>
    <div class="form-outline" data-mdb-input-init>
      <input type="tel" id="typePhone" class="form-control" />
      <label class="form-label" for="typePhone">Phone number input</label>
    </div>
  </div>
</body>